.gradle
/local.properties
/.idea/workspace.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.name
/.idea/libraries
.DS_Store
/build
/captures
*.iml

## 2016-02-11 ignoring iml files and /.idea/modules.xml
## 2016-02-11 ignoring .idea/.name and .idea/misc.xml
